* {
    text-transform: capitalize;
    font-size: 24px;
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 100%;
}

.product {
    box-sizing: border-box;
    width: 100%;
    padding: 5px 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: rgb(219, 219, 219);

}

.product-num {
    padding: 10px 5px;
    color: black;
    width: 100%;
    text-align: center;
    font-weight: bold;
}

/* Mobile */
@media (min-width: 144px) {}

/* Small Screens */
@media (min-width: 768px) {}

/* Medium Screen */
@media (min-width: 992px) {
    .container div:first-child {
        width: calc(100% - 20px);
    }

    .container div:not(:first-child) {
        width: calc((100% - 40px)/3);
    }

    .product-num {
        color: red;
    }
}

/* Large Screen */
@media (min-width: 1200px) {
    .container div:first-child {
        width: calc(100% - 20px);
    }

    .container div:not(:first-child):not(:last-child) {
        width: calc((100% - 30px) / 2);
    }

    .container div:last-child {
        width: calc(100% - 20px);
    }

    .product-num {
        color: cyan;
    }
}

@media print {
    .assign-one {
        font-size: 40px;
    }
}