* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: #fff;
}

.grid {
    background-color: #ddd;
    padding: 20px;
    width: 800px;
    height: 400px;
    display: grid;
    grid-template-columns: auto repeat(2, 1fr) auto;
    grid-template-rows: 1fr auto;
    gap: 20px 20px;
    margin: 20px auto;
}

div div {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(37, 37, 37);
}